:root {
  --mk-black: #191919;
  --mk-white: #ffffff;
  --mk-text: #434343;
  --mk-gray: #a6a3ad;
  --mk-red: #ff2737;
  --mk-yellow: #f2e7dc;
  --mk-under: #f4f5f9;
  --mk-linear_begin: #fd3f8f;
  --mk-linear_end: #ff773c;
  --van-primary-color: var(--mk-black);
  --van-danger-color: var(--mk-red);
  --van-cell-line-height: 36px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--mk-black);
  background-color: var(--mk-under);
  line-height: 1.5;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}